{{#if description}}
#### {{description}}
{{/if}}
{{#if props}}
<table>
<thead>
    <tr>
        <th>参数</th>
        <th>类型</th>
        <th>必选项</th>
        <th>默认值</th>
        <th>说明</th>
    </tr>
</thead>
<tbody>
    {{#each props}}
        <tr>
            <td>{{@key}}</td>
            <td>{{#if type}}{{type.name}}{{/if}}</td>
            <td>{{#if required}}true{{else}}false{{/if}}</td>
            <td>{{#if defaultValue}}{{breaklines defaultValue.value}}{{/if}}</td>
            <td>{{breaklines description}}</td>
        </tr>
    {{/each}}
</tbody>
</table>
{{/if}}
